name: a0-fullgpu-custom

services:
  a0-fullgpu:
    container_name: A0-fullgpu
    build:
      context: ./docker/run
      dockerfile: Dockerfile
      args:
        GIT_REF: v0.9.8-custom-pre-fullgpu
        BUILD_VARIANT: fullGPU
        PYTORCH_VARIANT: cuda
        CACHE_DATE: ${CACHE_DATE:-none}
    ports:
      - "8892:80"
    environment:
      - BUILD_VARIANT=fullGPU
      - PYTORCH_VARIANT=cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
